<?xml version="1.0"?>
<!--
Copyright (c) 2018, STEREOLABS.

All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    <arg     if="$(arg localization)" name="rtabmap_args" default=""/>
    <arg unless="$(arg localization)" name="rtabmap_args" default="-d"/>-->






<!-- RTAB-Map launcher -->

<launch>
    <!-- Localization-only mode -->
    <arg name="localization"            default="false"/>

    <arg     if="$(arg localization)" name="args" default=""/>
    <arg unless="$(arg localization)" name="args" default="--delete_db_on_start"/>

    <!-- RGB-D related topics -->

    <arg name="rgb_topic"               value="/zed/zed_node/left/image_rect_color" />
    <arg name="depth_topic"             value="/zed/zed_node/depth/depth_registered" />
    <arg name="camera_info_topic"       value="/zed/zed_node/left/camera_info" />
    <arg name="depth_camera_info_topic" value="/zed/zed_node/depth/camera_info" />
    <arg name="database_path"           default="~/.ros/rtabmap.db"/>

   <!-- Odometry topic name -->
    <arg name="odom_topic"              value="/zed/zed_node/odom" />

    <!-- RTABmap -->
    <group ns="rtabmap">

        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg args)" launch-prefix="">
            <rosparam command="load" file="$(find zedbot_navigation)/params/rtabmap_params/rtabmap_embeded_cam.yaml" />
        
            <remap from="rgb/image"         to="$(arg rgb_topic)"/>
            <remap from="depth/image"       to="$(arg depth_topic)"/>
            <remap from="rgb/camera_info"   to="$(arg camera_info_topic)"/>

            <remap from="odom"              to="$(arg odom_topic)"/>

            <!-- output -->
            <remap from="/rtabmap/grid_map"          to="/map" />   <!--Occupancy grid generated from projection of the 3D point clouds on the ground. -->

            <!-- localization mode -->
            <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
            <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
            <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>

            <!-- <param name="frame_id"            type="string" value="base_footprint"/> -->
            <param name="GridGlobal/MinSize"           type="string" value="30"/>  <!-- super important param: if too small can generate resize issues with move base-->

        </node>

    </group>

</launch>
